@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Impact';
  font-weight: normal;
  src: url('../fonts/impact.ttf')
}

@font-face {
  font-family: 'Georgia';
  font-weight: normal;
  src: url('../fonts/georgia.ttf')
}
