<template>
  <div class="h-screen w-screen overflow-hidden">
    <div class="flex flex-col h-full">
      <div
        class="mx-auto mt-10 sm:mt-0 text-7xl md:text-8xl font-title tracking-tightest opacity-50"
      >
        <p class="-mb-8">
          <span class="text-title-s">S</span><span class="text-title-a">a</span
          ><span class="text-title-n">n</span><span class="text-title-t">t</span
          ><span class="text-title-u">u</span
          ><span class="text-title-aa">á</span
          ><span class="text-title-r">r</span><span class="text-title-i">i</span
          ><span class="text-title-o">o</span>
        </p>
      </div>
      <div
        class="mx-auto text-xl md:text-3xl font-subtitle tracking-superwide opacity-25 "
      >
        Ecológico de Pipa
      </div>
      <div class="flex mx-auto font-coming flex-grow items-center">
        [Em breve!]
      </div>
      <div class="md:-mb-40 flex-shrink">
        <img
          src="https://res.cloudinary.com/duwxycoq6/image/upload/v1574208251/Santuario/SancPic72.png"
        />
      </div>
    </div>
  </div>
</template>

<script></script>

<style>
/* Sample `apply` at-rules with Tailwind CSS
.container {
  @apply min-h-screen flex justify-center items-center text-center mx-auto;
}
*/
</style>
